{{#sprites}}
// {{name}}
use crate::wasm4::*;
use crate::utils::RawImage;

const {{rustName}}_WIDTH: u32 = {{width}};
const {{rustName}}_HEIGHT: u32 = {{height}};
const {{rustName}}_FLAGS: u32 = {{flagsHumanReadable}};
const {{rustName}}: [u8; {{length}}] = [ {{bytes}} ];

pub const RAWIMG_{{rustName}}: RawImage = RawImage {
    width: {{rustName}}_WIDTH,
    height: {{rustName}}_HEIGHT,
    flags: {{rustName}}_FLAGS,
    data: &{{rustName}},
};
{{/sprites}}